In [ ]:
import sqlite3

# here enter the path for the database
conn = sqlite3.connect('...')

In [ ]:
c = conn.cursor

In [ ]:
c.execute("""CREATE TABLE Manager (
                MANAGER_ID INTEGER NOT NULL,
                MANAGER_FNAME TEXT NOT NULL,
                MANAGER_SNAME TEXT NOT NULL,
                COMPANY_ID INTEGER NOT NULL,
                JOIN_DATE TEXT NOT NULL)""")

In [ ]:
c.execute("INSERT INTO Manager VALUES(1, 'Mike', 'Kane', 2, '2/10/1990')")

In [ ]:
all_managers = [(2, 'John', 'Vauser', 5, '3/7/1980'),
                (3, 'Alex', 'Pope', 3, '1/9/2000'),
                (4, 'Kate', 'Maxwell', 4, '22/11/1994'),
                (5, 'Christine', 'Newton', 10, '9/9/2005'),
                (6, 'Bill', 'Isaac', 11, '17/2/2005')]
c.executemany ("INSERT INTO Manager VALUES (?,?,?,?,?)", all_managers)

In [ ]:
c.execute("SELECT * FROM Manager")
print(c.fetchall())

In [ ]:
c.execute("""CREATE TABLE Companies (
                COMPANY_ID INTEGER NOT NULL,
                COMPANY_NAME TEXT NOT NULL)""")

In [ ]:
all_companies = [(1, 'AEL'),
                 (2, 'AEK'),
                 (3, 'VOLTON'),
                 (4, 'TOTAL'),
                 (5, 'PETRONAS'),
                 (6, 'FERRARI')]

c.executemany ("INSERT INTO Companies VALUES (?,?)", all_companies)

In [ ]:
c.execute("SELECT * FROM Comanies")
print(c.fetchall())

In [ ]:
conn.commit()
conn.close()

In [ ]:
import pandas as pd
df = pd.read_excel("...")
df

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo = False)

In [ ]:
df.to_sql("prsident", con = engine)

In [ ]:
from sqlalchemy import create_engine
engine1 = create_engine("sqlite://mydb1.db")
df.to_sql("president", engine1)

In [ ]:
engine1.execute("SELECT * FROM president").fetchall()

In [ ]:
engine1.execute("INSERT INTO president VALUES (44, 45, 'Mixalis Zannis', 190)")

In [ ]:
all_president = [(45, 47, 'Grigoris Grigoriou', 170),
                 (46, 48, 'Makis Ioakeim', 165),
                 (47, 49, 'Marios Markou', 174)]
engine1.execute("INSERT INTO president VALUES (?,?,?,?)", all_president)